.heading
{
    font-size: 25px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: black;
}

body
{
    background-size: cover;
}

.div_start
{
    float: center ;
}

.play_button
{
    width: 130px;
    font-size: 25px;
}

canvas
{
    border:whitesmoke 5px solid;
    border-radius: 25px;
}